*.resharper.user
*.suo
RestMvc/bin/
RestMvc/obj/
RestMvc.Example/bin/
RestMvc.Example/obj/
RestMvc.FunctionalTests/bin/
RestMvc.FunctionalTests/obj/
RestMvc.UnitTests/bin/
RestMvc.UnitTests/obj/
build/
RestMvc/RestMvc.csproj.user
RestMvc.UnitTests/RestMvc.UnitTests.csproj.user
RestMvc.sln.cache
TestResult.xml
